.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid lightgray;
    height: 70px;
    
}

.rightNav {
    display: flex;
    gap: 20px;

    button{
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    nav{
        font-weight: bold;
    }
}

.goPro {
    color: red;
}
